﻿@model System.Collections.Generic.List<WebApplication1.Models.Stock>
@{
    ViewBag.Title = "Home Page";
}

@*
    Notice the model at the top of string, it's of type list<stock>
    This is exactly what we are passing into the view

    We want to iterate through this and display each item in the list for example
    We can do this through html as the GUI and razor as the code to access the list and do logic.

    Look up razor if you need to it is straight forward enough though, ill do a for loop below
*@


@*
    for each item in the model (the list in this case)
    iterate through and create a new row and output each attribute
*@

<div class="container">


    @{
        foreach (var t in Model)
        {
            <div class="row">
                <h2>ID: @t.Id</h2>
                <h2>Code: @t.Code</h2>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    @{
                        for (int i = 0; i < 5; i++)
                        {
                            <tbody>
                                <tr>
                                    <td>@i</td>
                                    <td>@t.Prices[i]</td>
                                </tr>
                            </tbody>
                        }

                    }
                </table>
            </div>

                        }
    }
</div>